.example-container {
  width: 400px;
  height: 200px;
  margin: 10px;
  border: 1px solid #555;
}

.container {
  filter: blur(200);
  background-color: rgba(0, 0, 0, 0.5);
  color: white !important;
}
